mod_process_security.la
mod_process_security.lo
mod_process_security.o
mod_process_security.slo
.libs
GPATH
GRTAGS
GTAGS
.vagrant/

# redhat rpmbuild
redhat/rpmbuild/BUILD/*
redhat/rpmbuild/BUILDROOT/*
redhat/rpmbuild/RPMS/*
redhat/rpmbuild/SOURCES/*.tar.gz
redhat/rpmbuild/SOURCES/*.tar.bz2
redhat/rpmbuild/SRPMS/*
redhat/rpmbuild/tmp/*
